*{
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
body{
    background-color: black;
}
h1{
    position: absolute;
    color: white;
    top: 0;
}
video{
    width: 100%;
    min-height: 100%;
    position: relative;
}